@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nanum+Gothic:wght@800&display=swap');

*{
    margin:0px;
    padding: 0px;
}

:root{
    --clr-text:#2e0014;
    --clr-background-card: #dddddd91;
    --clr-details:#ffff3f;; 
    --clr-header-footer:#2d2a32; 
    --clr-border:#ffff3f;
    --clr-details-footer: #dddddd91;
    --clr-details-footername: #ffff3f;

}

html, body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Dosis', sans-serif;
    color:var(--clr-text);
}

header {
    background-color:var(--clr-header-footer);
    width: 100%;
    padding-top:5px;
    padding-bottom: 5px;
}

h1 {
    font-size: 3em;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    color: white;
}

h2 {
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 50px;
    color: black;
}

h3 {
    font-size: 1.7em;
    font-family: 'Dosis', sans-serif;
    color:rgb(48, 47, 47);
}

h4 {
    display:flex;
    font-size: 1em;
    font-family: 'Bebas Neue', cursive;
    border-bottom: 3px solid var(--clr-border);
    border-top: 3px solid var(--clr-border);
    color: black;
    padding-left: 109px;
    padding-right: 109px;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 800px;
    margin: 0px auto;
}

p {
    padding-bottom: 20px;
    text-align: center;
    border-top: 3px solid var(--clr-border);
    padding-top: 10px;
    color:var(--clr-text);
    padding-left: 30px;
    padding-right: 30px; 
}

.item-1, .item-2, .item-3{
    box-shadow: 0px 5px 10px rgb(00, 00, 00, 0.15);
}

.item-1 {
    background-color:var(--clr-background-card);
    height: 490px;
    padding-top: 0px;  
    flex:1 1 100%;
    flex-direction: column;
    position:relative;
}

.item-1 h3 {
    position: absolute;
    top:57px;
}

.item-1 h4{
    position: absolute;
    top:92px;
}

.item-1 p {
    position: absolute;
    bottom:91px;
}

.item-1 li {
    position: absolute;
    top: 108px;
}

.item-2 {
    /*background-color: rgb(173, 180, 140);*/
    background-color: var(--clr-details);
    height: 500px; 
    flex:1 1 100%;
    flex-direction: column;
}

.item-2 h4 {
    border-bottom: 3px solid var(--clr-background-card);
    border-top: 3px solid var(--clr-background-card);
}

.item-2 p{
    border-top: 3px solid var(--clr-background-card);
}

.item-3 {
    background-color:var(--clr-background-card);
    height: 490px;
    flex:1 1 100%;
    flex-direction: column;
    position: relative;
}

.item-3 h3 {
    position: absolute;
    top: 57px;
}

.item-3 h4 {
    position: absolute;
    top: 92px;
}

.item-3 p {
    position: absolute;
    bottom:71px;
}

.item-3 li {
    position: absolute;
    top: 108px;
}

li, ul {
    list-style-type: none;
    padding: 0px;
    margin: 25px 0px;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
}

footer {
    background-color:var(--clr-header-footer);
    color: white;
    height: 25px;
    margin-top: 100px;
    padding: 10px;
    display:flex;
    justify-content: space-between;
}

.footer-text {
    color:var(--clr-details-footer);
}

.footer-name-text{
color:var(--clr-details-footername);
}


/*kako centrirati container?
